* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

.page {
  max-width: 38.2rem;
  margin: 0 auto;
}

header {
  background: #8E9AAF;
  width: 100%;
  height: auto;
}

header img {
  margin-top: 3.2rem;

  
}

header h1 {
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 4.0rem;
  line-height: 3.4rem;

  letter-spacing: 0.05em;

  color: #FFFFFF;

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.title {
  width: 100%;
  background: #CBC0D3;
  text-align: center;
  margin: 3.2rem 0 2.9rem;
}

main {
  margin: 0 3.2rem 6.0rem;
}

p {
  font-family: 'Palanquin';
  font-weight: 400;
  font-size: 2.0rem;
  line-height: 1.5rem;

  color: #23053A;

  margin-bottom: 6.3rem;
}

.card {
  position: relative;

  margin: 0 0 3.4rem;

}

.card img { /*essa configuração fez com a imagem aumentasse e diminuísse de acordo com a página*/
  width: 100%;
  height: auto;
}

.card span {
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 2.0rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;

  color: #4A4E69;

  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  width: 11.2rem;

  text-align: center;

  background: #FEEAFA;
  border-radius: 2.0rem;
  }